<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>Shopping List Application - Coursera Single Page Application.</title>
 

    <link href="styles/bootstrap.min.css" rel="stylesheet" />
    <link href="styles/styles.css" rel="stylesheet" />
    
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>

</head>
<body>
    <main>


     <header><h1>Shopping List App - Check Off!</h1></header>   
     <div id="container">

         <div class="row">
             <div class="col-md-6" ng-controller="ShoppingListController as ShoppingList">
                 <h3>To Buy</h3>
                 <ul class="list">
                     <li class="message" ng-show="!ShoppingList.items.length">Everything is bought!</li>
                     <li ng-repeat="item in ShoppingList.items"><span>Buy {{item.quantity}} {{item.name}}</span><button ng-click="ShoppingList.bought($index);" class="btn">Bought</button></li>
                 </ul>
             </div>

             <div class="col-md-6" ng-controller="ShoppingListBoughtController as BoughtList">
                 <h3>Already Bought</h3>
                 <ul class="list">
                     <li class="message" ng-show="!BoughtList.items.length">Nothing bought yet</li>
                     <li class="bought" ng-repeat="item in BoughtList.items"><span>Bought {{item.quantity}} {{item.name}}</span></li>
                 </ul>

             </div>


         </div>


     </div>
        



    </main>
</body>
</html>
